extends layout

block content
  h1= title
  p Welcome to #{title}
  body
    form(method='POST' action='/authenticate')
      div
        input(type="text" name="username" placeholder="Enter your username")
      div
        input(type="password" name="password" placeholder="Enter your password")
      button(type='submit') Login

